#u864.PamphletThumbSelected #u886-4 p,#u882-10,#u860-4
{
	font-family: open-sans-n4, sans-serif;
}

#u74-6,#u80-4
{
	font-family: open-sans-n3, sans-serif;
}

#u612-4
{
	font-family: open-sans-n3, sans-serif;
}

#u82-4
{
	font-family: open-sans-n3, sans-serif;
}

#u613-4
{
	font-family: open-sans-n3, sans-serif;
}

#u84-4
{
	font-family: open-sans-n3, sans-serif;
}

#u87-4
{
	font-family: open-sans-n3, sans-serif;
}

#u96-4
{
	font-family: open-sans-n3, sans-serif;
}

#u418-4
{
	font-family: open-sans-n3, sans-serif;
}

#u794-4
{
	font-family: open-sans-n3, sans-serif;
}

#u816-4
{
	font-family: open-sans-n3, sans-serif;
}

#u98-9,#u107-4,#u109-18,#u171-4,#u127-9,#u128-11,#u236-4,#u129-48,#u237-11,#u241-9,#u242-51,#u265-4,#u358-9,#u322-16,#u323-26,#u615-4,#u527-10,#u528-9,#u614-4,#u529-32,#u578-10,#u579-4,#u580-18,#u597-10,#u706-4,#u718-9,#u719-4,#u725-4,#u720-61,#u760-10,#u761-4,#u762-34,#u739-4,#u321-4
{
	font-family: open-sans-n3, sans-serif;
}

