#u74-6,#u80-4
{
	font-family: open-sans-n3, sans-serif;
}

#u612-4
{
	font-family: open-sans-n3, sans-serif;
}

#u82-4
{
	font-family: open-sans-n3, sans-serif;
}

#u613-4
{
	font-family: open-sans-n3, sans-serif;
}

#u84-4
{
	font-family: open-sans-n3, sans-serif;
}

#u87-4
{
	font-family: open-sans-n3, sans-serif;
}

#u418-4
{
	font-family: open-sans-n3, sans-serif;
}

#u96-4
{
	font-family: open-sans-n3, sans-serif;
}

#u98-9,#u107-4,#u171-4,#u109-18,#u127-9,#u128-11,#u236-4,#u129-46,#u237-11,#u241-9,#u265-4,#u242-51,#u358-9,#u322-14,#u323-26,#u527-10,#u528-9,#u529-32,#u614-4,#u615-4,#u578-10,#u579-4,#u580-18,#u597-10,#u321-4
{
	font-family: open-sans-n3, sans-serif;
}

