.version.index /* version checker */
{
	color: #0000FC;
	background-color: #025D69;
}

#page
{
	z-index: 1;
	min-height: 6693px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 1340px;
	margin-left: auto;
	margin-right: auto;
}

#pu137
{
	padding-bottom: 100px;
	width: 100%;
}

#u137
{
	z-index: 367;
	height: 99px;
	-pie-box-shadow: 0px 5px 10px #E5E5E5;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	border-style: solid;
	border-width: 1px;
	border-color: #E6E6E6;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
}

#u137-bw
{
	z-index: 367;
}

#u138-4
{
	z-index: 368;
	width: 167px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	color: #000000;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 30px;
	left: 50%;
	margin-left: -187px;
}

#u138-4:hover
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 167px;
	margin: 0px 0px 0px -187px;
}

#u138-4.MuseLinkActive
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 167px;
	margin: 0px 0px 0px -187px;
}

#u138-4:hover p
{
	color: #EA2557;
	visibility: inherit;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u207-4
{
	z-index: 372;
	width: 73px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	color: #000000;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 30px;
	left: 50%;
	margin-left: -20px;
}

#u207-4:hover
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 73px;
	margin: 0px 0px 0px -20px;
}

#u207-4.MuseLinkActive
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 73px;
	margin: 0px 0px 0px -20px;
}

#u207-4:hover p
{
	color: #EA2557;
	visibility: inherit;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u213-4
{
	z-index: 376;
	width: 97px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	color: #000000;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 30px;
	left: 50%;
	margin-left: 53px;
}

#u213-4:hover
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 97px;
	margin: 0px 0px 0px 53px;
}

#u213-4.MuseLinkActive
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 97px;
	margin: 0px 0px 0px 53px;
}

#u213-4:hover p
{
	color: #EA2557;
	visibility: inherit;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u3135-4
{
	z-index: 380;
	width: 97px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	color: #000000;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 30px;
	left: 50%;
	margin-left: 151px;
}

#u3135-4:hover
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 97px;
	margin: 0px 0px 0px 151px;
}

#u3135-4.MuseLinkActive
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 97px;
	margin: 0px 0px 0px 151px;
}

#u3135-4:hover p
{
	color: #EA2557;
	visibility: inherit;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u3138-4
{
	z-index: 384;
	width: 97px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	color: #000000;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 30px;
	left: 50%;
	margin-left: 248px;
}

#u3138-4:hover
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 97px;
	margin: 0px 0px 0px 248px;
}

#u3138-4.MuseLinkActive
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 97px;
	margin: 0px 0px 0px 248px;
}

#u3138-4:hover p
{
	color: #EA2557;
	visibility: inherit;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u3141-4
{
	z-index: 388;
	width: 130px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	color: #000000;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 30px;
	left: 50%;
	margin-left: 345px;
}

#u3141-4:hover
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 130px;
	margin: 0px 0px 0px 345px;
}

#u3141-4.MuseLinkActive
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 130px;
	margin: 0px 0px 0px 345px;
}

#u3141-4:hover p
{
	color: #EA2557;
	visibility: inherit;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u3144-4
{
	z-index: 392;
	width: 116px;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	color: #000000;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 30px;
	left: 50%;
	margin-left: 475px;
}

#u3144-4:hover
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 116px;
	margin: 0px 0px 0px 475px;
}

#u3144-4.MuseLinkActive
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 116px;
	margin: 0px 0px 0px 475px;
}

#u3144-4:hover p
{
	color: #EA2557;
	visibility: inherit;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u138-4.MuseLinkActive p,#u207-4.MuseLinkActive p,#u213-4.MuseLinkActive p,#u3135-4.MuseLinkActive p,#u3138-4.MuseLinkActive p,#u3141-4.MuseLinkActive p,#u3144-4.MuseLinkActive p
{
	color: #EA2557;
	visibility: inherit;
}

#u1161
{
	z-index: 396;
	width: 116px;
	background-color: transparent;
	position: fixed;
	top: 34px;
	left: 50%;
	margin-left: -568px;
}

#u1162
{
	z-index: 397;
	display: block;
}

#u1291
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 90.49999999999999px;
	width: 100%;
	max-width: 181px;
}

#u1289
{
	z-index: 399;
	display: block;
	width: 100%;
}

#u1291-wrapper
{
	position: fixed;
	top: 36px;
	z-index: 398;
	left: 50%;
	margin-left: -415px;
	width: 13.51%;
	max-width: 181px;
}

#co-je-op-2
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 596px;
	left: -72px;
}

#u216
{
	z-index: 4;
	min-height: 695px;
	background: #1E1E1E url("../images/img-op-bg.jpg") no-repeat center center;
	background-size: cover;
}

#u216_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1340px;
	padding-top: 225px;
	padding-bottom: 202px;
}

#u219
{
	z-index: 13;
	width: 489px;
	background-color: transparent;
	position: relative;
	margin-left: 50%;
	left: -244px;
}

#u220
{
	z-index: 14;
	display: block;
}

#u217-4
{
	z-index: 5;
	width: 1013px;
	min-height: 73px;
	background-color: transparent;
	line-height: 52px;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 52px;
	position: relative;
	margin-left: 50%;
	left: -506px;
}

#u1182-4
{
	z-index: 9;
	width: 535px;
	min-height: 47px;
	background-color: transparent;
	line-height: 51px;
	text-align: center;
	text-transform: none;
	color: #FFFFFF;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
	margin-left: 50%;
	left: -267px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u216-bw
{
	z-index: 4;
	min-height: 695px;
}

#pcil
{
	margin-top: -1px;
	width: 100%;
}

#cil
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 706px;
	left: -94px;
}

#u373
{
	z-index: 15;
	min-height: 803.980550970827px;
	background-color: #EA2557;
	padding-bottom: 0px;
}

#u373_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1340px;
	padding-top: 80px;
	padding-bottom: 103px;
}

#u382-4
{
	z-index: 17;
	min-height: 46px;
	background-color: transparent;
	line-height: 48px;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 37.92%;
	left: 31.05%;
}

#pu1197
{
	margin-top: 115px;
	position: relative;
	width: 100%;
}

#u1197
{
	z-index: 209;
	width: 74px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u394
{
	z-index: 25;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 25.83%;
	left: 20.23%;
}

#u391-4
{
	z-index: 26;
	min-height: 112px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1207
{
	z-index: 77;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 25.83%;
	left: 54.11%;
}

#u1208-4
{
	z-index: 78;
	min-height: 112px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1213
{
	z-index: 211;
	width: 85px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1119px;
}

#pu1223
{
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u1223
{
	z-index: 51;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 11.27%;
	left: 7.47%;
}

#u1224-6
{
	z-index: 52;
	min-height: 79px;
	background-color: transparent;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1229
{
	z-index: 65;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 11.27%;
	left: 81.27%;
}

#u1230-6
{
	z-index: 66;
	min-height: 79px;
	background-color: transparent;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#pu1247
{
	margin-top: 41px;
	position: relative;
	width: 100%;
}

#u1247
{
	z-index: 58;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	width: 11.27%;
	left: 7.47%;
}

#u1248-6
{
	z-index: 59;
	min-height: 79px;
	background-color: transparent;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1259
{
	z-index: 213;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 123px;
}

#u1235
{
	z-index: 46;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 25.83%;
	left: 20.23%;
}

#u1236-4
{
	z-index: 47;
	min-height: 155px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1241
{
	z-index: 99;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 25.83%;
	left: 54.11%;
}

#u1242-4
{
	z-index: 100;
	min-height: 112px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1253
{
	z-index: 72;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	width: 11.27%;
	left: 81.27%;
}

#u1254-4
{
	z-index: 73;
	min-height: 79px;
	background-color: transparent;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1269
{
	z-index: 215;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1114px;
}

#u373-bw
{
	z-index: 15;
	min-height: 803.980550970827px;
}

#galerie
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 564px;
	left: -72px;
}

#u693
{
	z-index: 2;
	min-height: 662px;
	background-color: #3C3C3C;
}

#u693_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1340px;
	padding-top: 81px;
	padding-bottom: 55px;
}

#u519-4
{
	z-index: 104;
	min-height: 86px;
	background-color: transparent;
	line-height: 48px;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 49.41%;
	left: 25.3%;
}

#pu1305
{
	margin-top: 64px;
	position: relative;
	width: 100%;
}

#u1305
{
	z-index: 217;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 206px;
}

#u1325
{
	z-index: 219;
	width: 92px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#u1341
{
	z-index: 221;
	width: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1051px;
}

#pu1299-8
{
	margin-top: 49px;
	position: relative;
	width: 100%;
}

#u1299-8
{
	z-index: 112;
	min-height: 234px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 22.39%;
	left: 7.47%;
}

#u1322-6
{
	z-index: 120;
	min-height: 234px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 22.39%;
	left: 38.81%;
}

#u1338-6
{
	z-index: 126;
	min-height: 234px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 22.39%;
	left: 70.08%;
}

#u1299-2,#u1322-2,#u1338-2
{
	text-transform: uppercase;
	font-weight: 700;
}

#u1299-4,#u1299-6,#u1322-4,#u1338-4
{
	font-weight: 400;
}

#u693-bw
{
	z-index: 2;
	min-height: 662px;
}

#slideshowu1351
{
	z-index: 223;
	width: 0.01px;
	height: 647px;
	position: relative;
}

#u1356
{
	position: absolute;
	width: 1340px;
	height: 647px;
	background-color: transparent;
}

#u1356popup
{
	z-index: 224;
}

#u1466
{
	z-index: 225;
	width: 1340px;
	height: 647px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3234
{
	z-index: 227;
	width: 1340px;
	height: 647px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3184
{
	z-index: 229;
	width: 1340px;
	height: 647px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1370-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 305px;
	left: 101px;
}

#u1370-4popup
{
	z-index: 231;
}

#u1370
{
	color: #999999;
}

#u1375-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 305px;
	left: 1210px;
}

#u1375-4popup
{
	z-index: 235;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#jak-na-op
{
	left: -72px;
	top: -98px;
	margin-bottom: -18px;
	position: relative;
}

#praxe
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 776px;
	left: -72px;
}

#u1568
{
	z-index: 16;
	min-height: 873px;
	background-color: #9A1843;
}

#u1568_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1340px;
	padding-top: 104px;
	padding-bottom: 96px;
}

#u1584-4
{
	z-index: 21;
	min-height: 46px;
	background-color: transparent;
	line-height: 48px;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 44.18%;
	left: 27.92%;
}

#pu1650
{
	margin-top: 103px;
	position: relative;
	width: 100%;
}

#u1650
{
	z-index: 239;
	width: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 142px;
}

#u1578
{
	z-index: 30;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	width: 26.95%;
	left: 20.23%;
}

#u1579-5
{
	z-index: 31;
	min-height: 61px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#pu1593
{
	position: relative;
	width: 100%;
}

#u1593
{
	z-index: 82;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 25.83%;
	left: 54.11%;
}

#u1594-4
{
	z-index: 83;
	min-height: 112px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1673
{
	z-index: 241;
	width: 51px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1130px;
}

#pu1748
{
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	width: 100%;
}

#u1748
{
	z-index: 243;
	width: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 142px;
}

#u1742
{
	z-index: 36;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 26.95%;
	left: 20.23%;
}

#u1743-4
{
	z-index: 37;
	min-height: 61px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#pu1758
{
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u1758
{
	z-index: 87;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 25.83%;
	left: 54.11%;
}

#u1759-6
{
	z-index: 88;
	min-height: 79px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1771
{
	z-index: 245;
	width: 59px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1132px;
}

#pu1807
{
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#u1807
{
	z-index: 247;
	width: 74px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

#u1794
{
	z-index: 41;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 26.95%;
	left: 20.23%;
}

#u1795-4
{
	z-index: 42;
	min-height: 61px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#pu1817
{
	margin-top: 15px;
	position: relative;
	width: 100%;
}

#u1817
{
	z-index: 94;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 25.83%;
	left: 54.11%;
}

#u1818-4
{
	z-index: 95;
	min-height: 79px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1823
{
	z-index: 249;
	width: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1125px;
}

#u1568-bw
{
	z-index: 16;
	min-height: 873px;
}

#testimonial
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 774px;
	left: -81px;
}

#u2445
{
	z-index: 3;
	min-height: 873px;
	background-color: #3C3C3C;
}

#u2445_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1340px;
	padding-top: 81px;
	padding-bottom: 114px;
}

#u2448-4
{
	z-index: 108;
	min-height: 50px;
	background-color: transparent;
	line-height: 48px;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 49.41%;
	left: 25.3%;
}

#u3207
{
	z-index: 400;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
	width: 63.66%;
	left: 17.62%;
}

#u3208-6
{
	z-index: 401;
	min-height: 61px;
	background-color: transparent;
	line-height: 27px;
	color: #C8C8C8;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#pu2851
{
	margin-top: 61px;
	position: relative;
	width: 100%;
}

#u2851
{
	z-index: 297;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.78%;
	left: 8.81%;
}

#u2835
{
	z-index: 298;
	-pie-box-shadow: 6px 6px 8px #CCCCCC;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	background-color: #EA2557;
	padding-top: 52px;
	padding-bottom: 50.88372358784693px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u2841
{
	z-index: 303;
	background-color: transparent;
	position: relative;
	width: 20.76%;
	margin-left: 39.63%;
}

#u2838-4
{
	z-index: 299;
	min-height: 61px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
	width: 80.76%;
	margin-left: 9.44%;
}

#u2854
{
	z-index: 313;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.78%;
	left: 29.71%;
}

#u2855
{
	z-index: 314;
	-pie-box-shadow: 6px 6px 8px #CCCCCC;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	background-color: #EA2557;
	padding-top: 52px;
	padding-bottom: 31.409831078994102px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u2857
{
	z-index: 319;
	background-color: transparent;
	position: relative;
	width: 20.76%;
	margin-left: 39.63%;
}

#u2856-4
{
	z-index: 315;
	min-height: 78px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
	width: 80.76%;
	margin-left: 9.44%;
}

#u2878
{
	z-index: 329;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.78%;
	left: 50.6%;
}

#u2880
{
	z-index: 330;
	-pie-box-shadow: 6px 6px 8px #CCCCCC;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	background-color: #EA2557;
	padding-top: 52px;
	padding-bottom: 31.409831078994102px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u2881
{
	z-index: 335;
	background-color: transparent;
	position: relative;
	width: 20.76%;
	margin-left: 39.63%;
}

#u2879-4
{
	z-index: 331;
	min-height: 78px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
	width: 80.76%;
	margin-left: 9.44%;
}

#u2905
{
	z-index: 345;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.78%;
	left: 71.42%;
}

#u2906
{
	z-index: 346;
	-pie-box-shadow: 6px 6px 8px #CCCCCC;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	background-color: #EA2557;
	padding-top: 52px;
	padding-bottom: 31.409831078994102px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u2907
{
	z-index: 351;
	background-color: transparent;
	position: relative;
	width: 20.76%;
	margin-left: 39.63%;
}

#u2909-4
{
	z-index: 347;
	min-height: 78px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
	width: 80.76%;
	margin-left: 9.44%;
}

#pu2993
{
	margin-top: 16px;
	position: relative;
	width: 100%;
}

#u2993
{
	z-index: 305;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.78%;
	left: 8.81%;
}

#u2994
{
	z-index: 306;
	-pie-box-shadow: 6px 6px 8px #CCCCCC;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	background-color: #EA2557;
	padding-top: 52px;
	padding-bottom: 50.88372358784875px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u2996
{
	z-index: 311;
	background-color: transparent;
	position: relative;
	width: 20.76%;
	margin-left: 39.63%;
}

#u2995-4
{
	z-index: 307;
	min-height: 61px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
	width: 80.76%;
	margin-left: 9.44%;
}

#u3009
{
	z-index: 321;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.78%;
	left: 29.71%;
}

#u3011
{
	z-index: 322;
	-pie-box-shadow: 6px 6px 8px #CCCCCC;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	background-color: #EA2557;
	padding-top: 52px;
	padding-bottom: 50.88372358784875px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u3012
{
	z-index: 327;
	background-color: transparent;
	position: relative;
	width: 20.76%;
	margin-left: 39.63%;
}

#u2857_img,#u2881_img,#u3012_img
{
	width: 101.82%;
}

#u3010-4
{
	z-index: 323;
	min-height: 61px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
	width: 80.76%;
	margin-left: 9.44%;
}

#u3025
{
	z-index: 337;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.78%;
	left: 50.6%;
}

#u3026
{
	z-index: 338;
	-pie-box-shadow: 6px 6px 8px #CCCCCC;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	background-color: #EA2557;
	padding-top: 52px;
	padding-bottom: 31.40983107899592px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u3027
{
	z-index: 343;
	background-color: transparent;
	position: relative;
	width: 20.76%;
	margin-left: 39.63%;
}

#u3029-4
{
	z-index: 339;
	min-height: 78px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
	width: 80.76%;
	margin-left: 9.44%;
}

#u3041
{
	z-index: 353;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.78%;
	left: 71.42%;
}

#u3042
{
	z-index: 354;
	-pie-box-shadow: 6px 6px 8px #CCCCCC;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	background-color: #EA2557;
	padding-top: 52px;
	padding-bottom: 50.88372358784875px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u3043
{
	z-index: 359;
	background-color: transparent;
	position: relative;
	width: 20.76%;
	margin-left: 39.63%;
}

#page_position_content,#pco-je-op-2,#pgalerie,#ppraxe,#ptestimonial,#u2841_img,#u2907_img,#u2996_img,#u3027_img,#u3043_img
{
	width: 100%;
}

#u3045-4
{
	z-index: 355;
	min-height: 61px;
	background-color: transparent;
	line-height: 27px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
	width: 80.76%;
	margin-left: 9.44%;
}

#u2445-bw
{
	z-index: 3;
	min-height: 873px;
}

#u785-4
{
	z-index: 132;
	min-height: 86px;
	background-color: transparent;
	line-height: 48px;
	color: #EA2557;
	text-align: center;
	font-size: 40px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 82px;
	position: relative;
	width: 49.41%;
	margin-left: 25.3%;
}

#pu987
{
	margin-top: 60px;
	width: 100%;
}

#u987
{
	z-index: 185;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 26.12%;
	left: 7.47%;
}

#u988
{
	z-index: 186;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u991
{
	z-index: 187;
	-pie-box-shadow: 7px 7px 10px #E5E5E5;
	box-shadow: 7px 7px 10px rgba(0,0,0,0.1);
	background-color: #FAFAFA;
	padding-top: 30px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u990-6
{
	z-index: 188;
	min-height: 70px;
	background-color: transparent;
	line-height: 31px;
	color: #EA2557;
	text-align: center;
	font-size: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 99.72%;
	margin-left: 0.29%;
}

#u989-5
{
	z-index: 203;
	min-height: 107px;
	background-color: transparent;
	line-height: 35px;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 162px;
	position: relative;
	width: 80.58%;
	margin-left: 9.72%;
}

#u992-9
{
	z-index: 194;
	min-height: 130px;
	background-color: #F0F0F0;
	line-height: 24px;
	color: #000000;
	text-align: center;
	font-size: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 1px;
	position: relative;
	width: 99.72%;
}

#u993
{
	z-index: 208;
	height: 120px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	width: 31.72%;
	left: 34.29%;
	background: transparent url("../images/pasted%20image%20169x150-u993-fr.png") no-repeat center bottom;
	background-size: cover;
}

#u833
{
	z-index: 136;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 26.12%;
	left: 36.95%;
}

#u791
{
	z-index: 137;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u792
{
	z-index: 138;
	-pie-box-shadow: 7px 7px 10px #E5E5E5;
	box-shadow: 7px 7px 10px rgba(0,0,0,0.1);
	background-color: #FAFAFA;
	padding-top: 30px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u795-7
{
	z-index: 139;
	min-height: 70px;
	background-color: transparent;
	line-height: 31px;
	color: #EA2557;
	text-align: center;
	font-size: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 99.72%;
	margin-left: 0.29%;
}

#u796-6
{
	z-index: 156;
	min-height: 107px;
	background-color: transparent;
	line-height: 35px;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 139px;
	position: relative;
	width: 80.58%;
	margin-left: 9.72%;
}

#u963-10
{
	z-index: 146;
	min-height: 130px;
	background-color: #F0F0F0;
	line-height: 24px;
	color: #000000;
	text-align: center;
	font-size: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 34px;
	position: relative;
	width: 99.72%;
}

#u810
{
	z-index: 162;
	height: 120px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	width: 31.72%;
	left: 34.29%;
	background: transparent url("../images/pasted%20image%20169x169-u810-fr.png") no-repeat center center;
	background-size: cover;
}

#u966
{
	z-index: 163;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 26.12%;
	left: 66.42%;
}

#u967
{
	z-index: 164;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u968
{
	z-index: 165;
	-pie-box-shadow: 7px 7px 10px #E5E5E5;
	box-shadow: 7px 7px 10px rgba(0,0,0,0.1);
	background-color: #FAFAFA;
	padding-top: 30px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u970-4
{
	z-index: 166;
	min-height: 70px;
	background-color: transparent;
	line-height: 31px;
	color: #EA2557;
	text-align: center;
	font-size: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 99.72%;
	margin-left: 0.29%;
}

#u969-4
{
	z-index: 180;
	min-height: 107px;
	background-color: transparent;
	line-height: 35px;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 162px;
	position: relative;
	width: 80.58%;
	margin-left: 9.72%;
}

#u971-10
{
	z-index: 170;
	min-height: 130px;
	background-color: #F0F0F0;
	line-height: 24px;
	color: #000000;
	text-align: center;
	font-size: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 36px;
	position: relative;
	width: 99.72%;
}

#u972
{
	z-index: 184;
	height: 120px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	width: 31.72%;
	left: 34.29%;
	background: transparent url("../images/pasted%20image%20179x182-u972-fr.png") no-repeat center bottom;
	background-size: cover;
}

#pkontakt
{
	margin-top: 25px;
	width: 100%;
}

#kontakt
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 129px;
	left: -74px;
}

#u2481
{
	z-index: 251;
	height: 228px;
	background-color: #FFFFFF;
}

#u2481-bw
{
	z-index: 251;
	height: 228px;
}

#u2484
{
	z-index: 252;
	min-height: 955.9450342707232px;
	padding-bottom: 0px;
	background: #232323 url("../images/mca-logo-symbol.svg") repeat center center;
	background-size: 161px 154px;
}

.nosvg #u2484
{
	background-image: url('../images/mca-logo-symbol_poster_u2502.png');
}

#u2484_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1340px;
}

#u2484_position_content
{
	margin-top: -118px;
	padding-bottom: 82px;
	width: 100%;
}

#u2535
{
	z-index: 260;
	width: 944px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 198px;
	position: relative;
}

#pu2482-4
{
	width: 0.01px;
}

#u2482-4
{
	z-index: 261;
	width: 400px;
	min-height: 78px;
	background-color: transparent;
	line-height: 52px;
	color: #EA2557;
	text-align: center;
	font-size: 40px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2483-4
{
	z-index: 265;
	width: 400px;
	min-height: 78px;
	background-color: transparent;
	line-height: 52px;
	color: #EA2557;
	text-align: center;
	font-size: 40px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 544px;
}

#pu2491-15
{
	width: 0.01px;
	margin-top: 79px;
}

#u2491-15
{
	z-index: 271;
	width: 400px;
	min-height: 238px;
	background-color: transparent;
	line-height: 32px;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2492-10
{
	z-index: 286;
	width: 400px;
	min-height: 238px;
	background-color: transparent;
	line-height: 32px;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 544px;
}

#pu2489
{
	width: 0.01px;
	margin-top: 34px;
}

#u2489
{
	z-index: 269;
	width: 400px;
	height: 250px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 100000px;
	min-width: 30px;
	position: relative;
	margin-right: -10000px;
}

#u2490
{
	z-index: 270;
	width: 400px;
	height: 250px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 100000px;
	min-width: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 544px;
}

#u2486
{
	z-index: 257;
	width: 113px;
	background-color: transparent;
	left: 614px;
	margin-top: 108px;
	position: relative;
}

#u2487
{
	z-index: 258;
	display: block;
	margin-bottom: -1px;
}

#u2488
{
	z-index: 259;
	width: 105px;
	height: 4px;
	background-color: #FFFAFA;
	left: 618px;
	margin-top: 27px;
	position: relative;
}

#u2485-4
{
	z-index: 253;
	width: 376px;
	min-height: 26px;
	background-color: transparent;
	line-height: 16px;
	color: #7F7F7F;
	text-align: center;
	font-size: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 482px;
	margin-top: 61px;
	position: relative;
}

#u2484-bw
{
	z-index: 252;
	min-height: 955.9450342707232px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

